In [97]:
import numpy as np
import pandas as pd
import gc
gc.collect()



path = './data/'
player_ext = 'Players_2019.csv'
event_ext = 'Events_2019.csv'
teams_ext = 'Teams.csv'

events = pd.read_csv(path+event_ext)
players = pd.read_csv(path+player_ext)

In [98]:
players.head()

   PlayerID  Season  TeamID       PlayerName
0    653508    2019    1101       BJ_MAXWELL
1    653509    2019    1101       CHASE_COBB
2    653510    2019    1101      CLAY_GAYMAN
3    653511    2019    1101   DAMIEN_DANIELS
4    653512    2019    1101  HAYDEN_FARQUHAR

In [99]:
events.head()

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType
0,30099809,2019,1,1104,1380,0,0,18,1380,657441,assist
1,30099810,2019,1,1104,1380,0,2,18,1380,657447,made2_jump
2,30099811,2019,1,1104,1380,2,2,42,1104,653561,made2_jump
3,30099812,2019,1,1104,1380,0,0,58,1380,657437,turnover
4,30099813,2019,1,1104,1380,0,0,63,1104,653565,assist

In [100]:
len(events)

2543316

In [101]:
list(events)

['EventID',
 'Season',
 'DayNum',
 'WTeamID',
 'LTeamID',
 'WPoints',
 'LPoints',
 'ElapsedSeconds',
 'EventTeamID',
 'EventPlayerID',
 'EventType']

### Validation

In [102]:
# beautiful
events.isna().sum()

EventID           0
Season            0
DayNum            0
WTeamID           0
LTeamID           0
WPoints           0
LPoints           0
ElapsedSeconds    0
EventTeamID       0
EventPlayerID     0
EventType         0
dtype: int64

### Feature Engineering

To add:
- game id
- current OT

Need: 
- possession time
- time remaining in game (including factoring OT)
- change of possession indicator

In [103]:
# load compact results
# cr_path = './data/RegularSeasonCompactResults.csv'
# cr = pd.read_csv(cr_path)

# cr_path = './data/Prelim2019_RegularSeasonCompactResults.csv'
# cr = pd.read_csv(cr_path)

In [104]:
events['GameID'] = events['Season'].astype(str) + events['DayNum'].astype(str) + events['WTeamID'].astype(str) + events['LTeamID'].astype(str)
events['OT'] = (events['ElapsedSeconds'] - 2400)/300
events['OT'] = np.where(events['OT'] < 0, 0, np.ceil(events['OT'])).astype(int)

In [105]:
events['TimeRemain'] = 2400 + (events['OT'] * 300) - events['ElapsedSeconds']

In [106]:
print(events.head())

    EventID  Season  DayNum  WTeamID  LTeamID  WPoints  LPoints  \
0  30099809    2019       1     1104     1380        0        0
1  30099810    2019       1     1104     1380        0        2
2  30099811    2019       1     1104     1380        2        2
3  30099812    2019       1     1104     1380        0        0
4  30099813    2019       1     1104     1380        0        0

   ElapsedSeconds  EventTeamID  EventPlayerID   EventType         GameID  OT  \
0              18         1380         657441      assist  2019111041380   0
1              18         1380         657447  made2_jump  2019111041380   0
2              42         1104         653561  made2_jump  2019111041380   0
3              58         1380         657437    turnover  2019111041380   0
4              63         1104         653565      assist  2019111041380   0

   TimeRemain
0        2382
1        2382
2        2358
3        2342
4        2337

In [107]:
print(list(events))

['EventID', 'Season', 'DayNum', 'WTeamID', 'LTeamID', 'WPoints', 'LPoints', 'ElapsedSeconds', 'EventTeamID', 'EventPlayerID', 'EventType', 'GameID', 'OT', 'TimeRemain']

In [108]:
# let's calculate usage lost going into 2019

# usage calc:
# 100*((Player’s Field Goal Attempts)+0.44*(Player’s Free Throw Attempts)+(Player’s Turnovers))*(Team’s Total Minutes)
# /
# ((Team’s Total Field Goal Attempts)+0.44*(Team’s Total Free Throw Attempts)+Team’s Total Turnovers))*5*(Player’s Minutes)

# need field goal attempts, free throw attempts, turnovers
usage_events = ['made1_free','made2_dunk','made2_jump','made2_lay','made2_tip','made3_jump',
                'miss1_free','miss2_dunk','miss2_jump','miss2_lay','miss2_tip','miss3_jump',
               'turnover']

usage = events.loc[events['EventType'].isin(usage_events)]

fgas = ['made2_dunk','made2_jump','made2_lay','made2_tip','made3_jump','miss2_dunk','miss2_jump','miss2_lay','miss2_tip','miss3_jump']
ftas = ['made1_free','miss1_free']

usage.loc[usage['EventType'].isin(fgas), 'EventType'] = 'FGA'
usage.loc[usage['EventType'].isin(ftas), 'EventType'] = 'FTA'


pgb = usage.groupby(['EventPlayerID','EventType'])['EventID'].count().unstack(level=-1).reset_index()
pgb = pgb.rename(columns={'EventPlayerID':'PlayerID'})

# pgb = pgb.drop(columns=['EventType'])

tgb = usage.groupby(['EventTeamID','EventType'])['EventID'].count().unstack(level=-1).reset_index()

# tgb = tgb.drop(columns=['EventType'])

tgb = tgb.rename(columns={'FGA':'TFGA','FTA':'TFTA','turnover':'TTO','EventTeamID':'TeamID'})
tgb.head()

EventType  TeamID  TFGA  TFTA  TTO
0            1101  1602   553  338
1            1102  1715   485  409
2            1103  1825   505  369
3            1104  1876   722  449
4            1105  1738   438  477

In [109]:
players = players.drop(columns=['Season'])
pgb = pd.merge(left=pgb, right=players, how='left', on=['PlayerID','PlayerID'])
pgb = pd.merge(left=pgb, right=tgb, how='left', on=['TeamID','TeamID'])
pgb.head()

   PlayerID    FGA   FTA  turnover  TeamID       PlayerName  TFGA  TFTA  TTO
0    653508  140.0  29.0      15.0    1101       BJ_MAXWELL  1602   553  338
1    653509    3.0   2.0       1.0    1101       CHASE_COBB  1602   553  338
2    653510   26.0  10.0      11.0    1101      CLAY_GAYMAN  1602   553  338
3    653511   95.0  22.0      24.0    1101   DAMIEN_DANIELS  1602   553  338
4    653512  137.0  31.0      20.0    1101  HAYDEN_FARQUHAR  1602   553  338

In [110]:
pgb['Usage'] = (pgb['FGA'] + 0.44*pgb['FTA'] + pgb['turnover'])/(pgb['TFGA']+0.44*pgb['TFTA']+pgb['TTO'])
pgb.head()

,PlayerID,FGA,FTA,turnover,TeamID,PlayerName,TFGA,TFTA,TTO,Usage
0,653508,140.0,29.0,15.0,1101,BJ_MAXWELL,1602,553,338,0.076837
1,653509,3.0,2.0,1.0,1101,CHASE_COBB,1602,553,338,0.002235
2,653510,26.0,10.0,11.0,1101,CLAY_GAYMAN,1602,553,338,0.018962
3,653511,95.0,22.0,24.0,1101,DAMIEN_DANIELS,1602,553,338,0.058938
4,653512,137.0,31.0,20.0,1101,HAYDEN_FARQUHAR,1602,553,338,0.078156

In [111]:
use = pgb[['TeamID','PlayerID','PlayerName','Usage']]

teams_ext = 'Teams.csv'
teams = pd.read_csv(path+teams_ext)
teams = teams[['TeamID','TeamName']]

use = pd.merge(use, teams, how='left',on=['TeamID','TeamID'])

use = use[['TeamName','PlayerName','Usage']]
use.head()

      TeamName       PlayerName     Usage
0  Abilene Chr       BJ_MAXWELL  0.076837
1  Abilene Chr       CHASE_COBB  0.002235
2  Abilene Chr      CLAY_GAYMAN  0.018962
3  Abilene Chr   DAMIEN_DANIELS  0.058938
4  Abilene Chr  HAYDEN_FARQUHAR  0.078156

In [112]:
# print(use.TeamName.unique())

In [113]:
needed_teams = ['Clemson','Virginia Tech','Duke','Kansas','Fresno St','Oregon','Georgia Tech','NC State',
                'Michigan St','Kentucky','Nevada','Utah',"St Mary's CA",'Wisconsin']
use = use.loc[use.TeamName.isin(needed_teams)]
print(len(use.TeamName.unique()))

14

In [114]:
use.to_csv('2019_usage.csv',index=None)

In [115]:
rosters = pd.read_csv('2019_rosters.csv')
rosters = rosters.drop(columns=['Unnamed: 0','number'])

rosters.head()

,name,position,height,weight,class,hometown,Team
0,Clyde Trapp,G,"6' 4""",194 lbs,JR,"Eastover, SC",Clemson
1,Jonathan Baehre,F,"6' 10""",209 lbs,JR,"Wiesbaden, Germany",Clemson
2,Al-Amir Dawes,G,"6' 2""",180 lbs,FR,"Newark, NJ",Clemson
3,Chase Hunter,G,"6' 3""",200 lbs,FR,"Atlanta, GA",Clemson
4,Nick Honor,G,"5' 10""",205 lbs,SO,"Orlando, FL",Clemson

In [116]:
use.loc[:,'PlayerName'] = use['PlayerName'].str.replace("_"," ")
use.loc[:,'PlayerName'] = use['PlayerName'].str.title()

use.head()

    TeamName     PlayerName     Usage
683  Clemson    Aamir Simms  0.117890
684  Clemson    Clyde Trapp  0.096289
685  Clemson    David Skara  0.095564
686  Clemson  Elijah Thomas  0.170467
687  Clemson   Hunter Tyson  0.028818

In [117]:
roster_to_use = {
    "Alex O'Connell":'Alex Oconnell',
    "C.J. Bryce":'Cj Bryce',
    "D'Mitrik Trice":"Dmitrik Trice",
    "DJ Funderburk":'Derek Funderburk',
    "David McCormack":'David Mccormack',
    "EJ Montgomery":'Ej Montgomery',
    "James Banks III":'James Banks Iii',
    "John Newman III":'John Newman Iii',
    "Marcus Bingham Jr.":'Marcus Bingham Jr',
    "P.J. Horne":'Pj Horne',
    "Walt McGrory":'Walt Mcgrory'
}

use_to_roster = dict(map(reversed, roster_to_use.items()))

In [118]:
use = use.replace({"PlayerName": use_to_roster})

In [120]:
### check for similar names to match 
roster_names = list(rosters.name.values)
use_names = list(use.PlayerName.values)

print("Use minus roster")
udiff = list(set(use_names)-set(roster_names))
udiff.sort()
print(udiff)

print("Roster minus use")
rdiff = list(set(roster_names)-set(use_names))
rdiff.sort()
print(rdiff)

import difflib

for rword in rdiff:
    print(rword, difflib.get_close_matches(rword,udiff))

Use minus roster
['Abdoulaye Gueye', 'Abu Kigab', 'Ahmed Hill', 'Alex Mudronja', 'Antonio Vrankovic', 'Beau Rydalch', 'Bol Bol', 'Brandon Alston', 'Brandon Morley', 'Braxton Huggins', 'Brennan Besser', 'Caleb Martin', 'Cam Reddish', 'Charles Jones', 'Charles Thomas Iv', 'Charlie Moore', 'Cody Martin', 'Corey Henson', 'Curtis Haywood Ii', 'D T', 'David Cunningham', 'David Skara', 'Dedric Lawson', 'Deshon Taylor', 'Donnie Tillman', 'Ehab Amin', 'Eric Lockett', 'Ethan Happ', 'Evan Jester', 'Garrett Luinstra', 'Ian Steere', 'Javan White', 'Javin Delaurier', 'Jayce Johnson', 'Jemarl Baker Jr', 'Johnny Mcwilliams', 'Jonny David', 'Jordan Brown', 'Jordan Caroline', 'Jordan Hunter', 'Keldon Johnson', 'Kenny Goins', 'Kenny Wooten', 'Kerry Blackshear', 'Khalil Iverson', 'Kj Lawson', 'Kyle Clark', 'Lagerald Vick', 'Louis King', 'Lyles Davis', 'Marcquise Reed', 'Marques Bolden', 'Matt Mcquaid', 'Miles Norris', 'Nick Ward', 'Nickeil Alexander-Walker', 'Novak Topalovic', 'Parker Van Dyke', 'Paul White', 'Pj Washington', 'Quade Green', 'Quentin Grimes', 'Reid Travis', 'Rj Barrett', 'Sam Bittner', 'Sedrick Barefield', 'Shelton Mitchell', 'Sylvester Ogbonda', 'Tai Strickland', 'Team', 'Torin Dorn', 'Treshawn Thurman', 'Trey Porter', 'Ty Outlaw', 'Tyler Herro', 'Vante Hendrix', 'Victor Bailey Jr', 'Wyatt Walker', 'Zion Williamson']
Roster minus use
['A.J. Taylor', 'Aaron Menzies', 'Addison Patterson', 'Al-Amir Dawes', 'Alec Hickman', 'Alex Ducas', 'Alex Hemenway', 'Alfonso Plummer', 'Anthony Holland', 'Anthony Mathis', 'Asanti Price', 'Assane Diouf', 'Ben Jordan', 'Branden Carlson', 'Branden Johnson', 'Brandon Haddock', 'Brendan Palmer', 'Brendan Wenzel', 'Brennan Canada', 'Bubba Parham', 'C.J. Hyder', 'C.J. Walker', 'Carter Higginbottom', 'Cassius Stanley', 'Chandler Lawson', 'Chase Graham', 'Chase Hunter', 'Chris Duarte', 'Chris Seeley', 'Christian Braun', 'Coleman Boyd', 'Courtland Cuevas', 'Curran Scott', 'Dajuan Harris', 'Danny Dixon', 'David Didenko', 'Dereon Seabron', 'Desmond Cambridge', 'Dontaie Allen', 'Eli Ballstaedt', 'Elijah Elliott', 'Eric Parrish', 'Eric Williams Jr.', 'Eugene Omoruyi', 'Gabe Bansuelo', 'Grant Yates', 'Hunter Cattoor', 'Hunter Mecum', 'Isaiah Moss', 'Jalen Cone', 'Jalen Harris', 'Jalen Wilson', 'Jarred Hyder', 'Javin DeLaurier', 'Jaxon Brenchley', 'Jehloni James', 'Joe Hedstrom', 'Joey Hauser', 'John Ojiako', 'Johncarlos Reyes', 'Johnny Juzang', 'Jonathan Baehre', 'Jordan Campbell', 'Jordan Usher', 'Julius Marble', 'K.J. Hymes', 'Kahlil Whitney', 'Kane Milling', 'Keenan Worthington', 'Keion Brooks', 'Keve Aluma', 'Khavon Moore', 'Khristion Courseault', 'Kristers Zoriks', 'Kyle Bowen', 'Lahat Thioune', 'Landers Nolley II', 'Lindsey Drew', 'Logan Johnson', 'Lok Wur', 'Luc Krystkowiak', 'Malik Hall', 'Manny Bates', 'Matt Van Komen', 'Matthew Hurt', 'Max Farthing', 'Micah Potter', 'Michael Jankovich', 'Michael Savarino', 'Mikael Jantunen', 'Mustafa Lawrence', "N'Faly Dante", 'Nate Sestina', 'Nick Honor', 'Niko Broadway', 'Niven Hart', "O'Neil McBride", 'Orlando Robinson', 'Owen Hamilton', 'Pat Andree', 'Paul Grinde', 'Riley Welch', 'Robby Robinson', 'Rocket Watts Jr.', 'Ryan Payne', 'Rylan Jones', 'Samad Qawi', 'Shaheed Medlock', 'Shakur Juiston', 'Silvio De Sousa', 'Steven Izzo', 'Tevin Mack', 'Thomas Allen', 'Tristan Enaruna', 'Tyler Wahl', 'Tyrece Radford', 'Tyrese Maxey', 'Vernon Carey Jr.', 'Warren Washington', 'Wendell Moore Jr.', 'Zachary Williams', 'Zan Payne', 'Zane Meeks']
A.J. Taylor []
Aaron Menzies []
Addison Patterson []
Al-Amir Dawes []
Alec Hickman []
Alex Ducas ['Alex Mudronja']
Alex Hemenway []
Alfonso Plummer []
Anthony Holland []
Anthony Mathis []
Asanti Price []
Assane Diouf []
Ben Jordan []
Branden Carlson ['Jordan Caroline']
Branden Johnson ['Jayce Johnson', 'Keldon Johnson']
Brandon Haddock ['Brandon Morley', 'Brandon Alston']
Brendan Palmer ['Brennan Besser']
Brendan Wenzel ['Brennan Besser']
Brennan Canada []
Bubba Parham []
C.J. Hyder []
C.J. Walker ['Wyatt Walker']
Carter Higginbottom []
Cassius Stanley []
Chandler Lawson ['Dedric Lawson']
Chase Graham []
Chase Hunter ['Jordan Hunter']
Chris Duarte []
Chris Seeley []
Christian Braun []
Coleman Boyd []
Courtland Cuevas []
Curran Scott []
Dajuan Harris []
Danny Dixon []
David Didenko []
Dereon Seabron []
Desmond Cambridge []
Dontaie Allen ['Donnie Tillman']
Eli Ballstaedt []
Elijah Elliott []
Eric Parrish []
Eric Williams Jr. ['Zion Williamson']
Eugene Omoruyi []
Gabe Bansuelo []
Grant Yates []
Hunter Cattoor []
Hunter Mecum []
Isaiah Moss []
Jalen Cone ['Jordan Caroline', 'Charles Jones']
Jalen Harris []
Jalen Wilson []
Jarred Hyder []
Javin DeLaurier ['Javin Delaurier']
Jaxon Brenchley []
Jehloni James []
Joe Hedstrom []
Joey Hauser []
John Ojiako []
Johncarlos Reyes []
Johnny Juzang []
Jonathan Baehre []
Jordan Campbell ['Jordan Caroline']
Jordan Usher ['Jordan Hunter', 'Jordan Brown']
Julius Marble []
K.J. Hymes []
Kahlil Whitney ['Paul White']
Kane Milling []
Keenan Worthington ['Kenny Wooten']
Keion Brooks []
Keve Aluma []
Khavon Moore ['Charlie Moore', 'Brandon Morley']
Khristion Courseault []
Kristers Zoriks []
Kyle Bowen []
Lahat Thioune []
Landers Nolley II []
Lindsey Drew []
Logan Johnson ['Keldon Johnson', 'Jayce Johnson']
Lok Wur []
Luc Krystkowiak []
Malik Hall []
Manny Bates []
Matt Van Komen []
Matthew Hurt []
Max Farthing []
Micah Potter []
Michael Jankovich []
Michael Savarino []
Mikael Jantunen []
Mustafa Lawrence []
N'Faly Dante []
Nate Sestina []
Nick Honor ['Nick Ward']
Niko Broadway []
Niven Hart []
O'Neil McBride []
Orlando Robinson ['Keldon Johnson', 'Brandon Alston']
Owen Hamilton []
Pat Andree []
Paul Grinde ['Paul White']
Riley Welch []
Robby Robinson []
Rocket Watts Jr. []
Ryan Payne []
Rylan Jones []
Samad Qawi []
Shaheed Medlock []
Shakur Juiston []
Silvio De Sousa []
Steven Izzo []
Tevin Mack []
Thomas Allen []
Tristan Enaruna []
Tyler Wahl []
Tyrece Radford []
Tyrese Maxey []
Vernon Carey Jr. []
Warren Washington ['Pj Washington']
Wendell Moore Jr. []
Zachary Williams ['Zion Williamson', 'Johnny Mcwilliams']
Zan Payne []
Zane Meeks []

In [124]:
use['Graduated'] = np.where(use['PlayerName'].isin(roster_names),"Still On Roster","Lost")

In [128]:
ugb = use.groupby(['TeamName','Graduated'])['Usage'].sum().unstack(-1).reset_index()
ugb.sort_values(by="Still On Roster", ascending=False)

Graduated       TeamName      Lost  Still On Roster
10          St Mary's CA  0.115301         0.874914
7               NC State  0.269264         0.728229
3           Georgia Tech  0.265919         0.723850
6            Michigan St  0.379882         0.612745
13             Wisconsin  0.392056         0.591931
2              Fresno St  0.533454         0.462032
0                Clemson  0.536216         0.453075
4                 Kansas  0.567106         0.427084
9                 Oregon  0.669019         0.323424
11                  Utah  0.664652         0.320906
12         Virginia Tech  0.689336         0.305101
5               Kentucky  0.696091         0.299283
1                   Duke  0.746569         0.249024
8                 Nevada  0.863992         0.132098

In [132]:
returning = use.loc[use.Graduated=="Still On Roster"]
returning = returning.drop(columns=['Graduated'])
ugb = ugb.rename(columns={'Lost':'Available Usage'})
ugb = ugb.drop(columns=['Still On Roster'])
returning = pd.merge(returning, ugb, how='left',on=['TeamName','TeamName'])
returning = returning.sort_values(by=['Usage'],ascending=False)
print(returning.head(50))

         TeamName         PlayerName     Usage  Available Usage
71   St Mary's CA        Jordan Ford  0.263382         0.115301
43    Michigan St    Cassius Winston  0.225073         0.379882
72   St Mary's CA        Malik Fitts  0.195775         0.115301
22   Georgia Tech      Jose Alvarado  0.183903         0.265919
64         Oregon   Payton Pritchard  0.174513         0.669019
2         Clemson      Elijah Thomas  0.170467         0.536216
90      Wisconsin     D'Mitrik Trice  0.167600         0.392056
31         Kansas       Devon Dotson  0.154185         0.567106
88      Wisconsin       Brad Davison  0.150170         0.392056
26   Georgia Tech      Michael Devoe  0.149244         0.265919
17      Fresno St        Nate Grimes  0.142974         0.533454
21   Georgia Tech    James Banks III  0.141595         0.265919
81           Utah        Timmy Allen  0.139989         0.664652
55       NC State         C.J. Bryce  0.134647         0.269264
57       NC State      Devon Daniels  0.134288         0.269264
59       NC State    Markell Johnson  0.126638         0.269264
13           Duke          Tre Jones  0.120199         0.746569
84  Virginia Tech    Justin Robinson  0.119257         0.689336
36       Kentucky      Ashton Hagans  0.118372         0.696091
0         Clemson        Aamir Simms  0.117890         0.536216
54       NC State    Braxton Beverly  0.117871         0.269264
75   St Mary's CA       Tanner Krebs  0.117121         0.115301
93      Wisconsin       Nate Reuvers  0.112096         0.392056
52    Michigan St     Xavier Tillman  0.110425         0.379882
60         Nevada       Jazz Johnson  0.109563         0.863992
18      Fresno St       New Williams  0.109488         0.533454
19      Fresno St     Noah Blackwell  0.105253         0.533454
76   St Mary's CA        Tommy Kuhse  0.102157         0.115301
77           Utah          Both Gach  0.099228         0.664652
27   Georgia Tech       Moses Wright  0.098202         0.265919
66         Oregon    Will Richardson  0.096937         0.669019
1         Clemson        Clyde Trapp  0.096289         0.536216
56       NC State      DJ Funderburk  0.094248         0.269264
32         Kansas     Marcus Garrett  0.089170         0.567106
58       NC State   Jericole Hellems  0.083031         0.269264
80           Utah       Riley Battin  0.080496         0.664652
40    Michigan St        Aaron Henry  0.079934         0.379882
38       Kentucky  Immanuel Quickley  0.072146         0.696091
48    Michigan St    Joshua Langford  0.069726         0.379882
34         Kansas       Ochai Agbaji  0.068254         0.567106
86  Virginia Tech       Wabissa Bede  0.065406         0.689336
82  Virginia Tech     Isaiah Wilkins  0.061897         0.689336
91      Wisconsin          Kobe King  0.060084         0.392056
69   St Mary's CA      Elijah Thomas  0.059773         0.115301
37       Kentucky      EJ Montgomery  0.058978         0.696091
73   St Mary's CA      Matthias Tass  0.058036         0.115301
8            Duke         Jack White  0.055224         0.746569
49    Michigan St        Kyle Ahrens  0.055190         0.379882
23   Georgia Tech       Khalid Moore  0.055171         0.265919
89      Wisconsin      Brevin Pritzl  0.053890         0.392056

In [9]:
events.groupby(['EventType'])['EventID'].count()

EventType
assist        143827
block          35855
foul_pers     195974
foul_tech        727
made1_free    146907
made2_dunk     19173
made2_jump     58823
made2_lay     112392
made2_tip       2643
made3_jump     83688
miss1_free     61075
miss2_dunk      2517
miss2_jump    102592
miss2_lay      86044
miss2_tip       1144
miss3_jump    159586
reb_dead       30928
reb_def       273589
reb_off       108474
steal          67640
sub_in        327515
sub_out       326809
timeout        29704
timeout_tv     24098
turnover      141592
Name: EventID, dtype: int64

In [10]:
sample = events.loc[events['GameID'] == '201913214631217']
sample.to_csv('./output/sample_game.csv',index=False)

Change of possession calculation is complicated. It's needed to know how each possession ends (did the team make one free throw or two)?

There are some event types that may or may not end the possession, like a made free throw.

I plan to resolve some of these in different ways.
If a team misses their last free throw, then there should be a rebound coupled with it.
Therefore if there is no rebound event coupled with it, they must have made their last free throw (unless on an air ball? but that's an edge case i'll ignore).

In [13]:
all_events = list(events.EventType.unique())

# offense at time of event
off_events = ['assist','made2_jump','turnover','made3_jump','miss2_jump','miss3_jump','reb_off','miss1_free',
             'made1_free','made2_dunk','made2_lay','miss2_lay','reb_dead','miss2_dunk','made2_tip','miss2_tip']

def_events = ['block','steal','reb_def']

neu_events = ['timeout_tv','foul_tech','foul_pers','timeout','sub_out','sub_in']

events['EventTeam'] = np.where(events['EventTeamID']==events['WTeamID'],events['WTeamID'],events['LTeamID'])
events['NonEventTeam'] = np.where(events['EventTeamID']==events['WTeamID'],events['LTeamID'],events['WTeamID'])

In [ ]:
# create column of last event team for neutral event situations
events['PossTeam'] = np.where(events['EventType'].isin(off_events), events['EventTeamID'], )
events['PossTeam'] = np.where(events['EventType'].isin(def_events), events['NonEventTeam'], events['PossTeam'])


events['PossTeam'] = events['PossTeam'].copy().astype(int)
# mark neutral events as non change of possession -- to my knowledge these are accompanied by events that do mark a turnover
# events['PossTeam'] = events['PossTeam'].fillna(method='ffill')

When there's a difference in poss team from the previous row, I'm going to mark a change of possession (COP).

One issue is that multiple events can happen within the same second (missed FT, defensive reb). So I need to sort by time remaining then Def Team to help with this, so there's only a max of one change of possession per second.

There seem to be a couple of cases where this is insufficient. For example, a late defensive rebound, foul on rebounding player, missed free throw, defensive rebound can all happen happen in a second. The only fix for this right now is that I'm going to mark all defensive rebounds as a COP. This fix probably has holes in it, and I'll be more thorough in the future.

In [14]:
events = events.sort_values(by=['GameID','OT','TimeRemain','PossTeam'],ascending=[True,True,False,True])
events.head()

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,GameID,OT,TimeRemain,EventTeam,OtherTeam,PossTeam
1896418,31996227,2019,100,1101,1311,0,0,29,1101,653515,assist,201910011011311,0,2371,1101,1311,1101.0
1896419,31996228,2019,100,1101,1311,3,0,29,1101,653508,made3_jump,201910011011311,0,2371,1101,1311,1101.0
1896420,31996229,2019,100,1101,1311,0,0,58,1311,656456,turnover,201910011011311,0,2342,1311,1101,1311.0
1896421,31996230,2019,100,1101,1311,0,0,60,1101,653519,steal,201910011011311,0,2340,1101,1311,1311.0
1896422,31996231,2019,100,1101,1311,0,0,63,1311,656456,foul_pers,201910011011311,0,2337,1311,1101,1311.0

In [15]:
gb = events.groupby(['GameID'])['PossTeam'].diff().reset_index()
# nans for first event of the game
gb = gb.fillna(0)
# change of possession
gb['COP'] = np.where(gb['PossTeam']!=0, 1, 0)

events['COP'] = gb['COP'].copy()

# for multiple COP in same second
events['COP'] = np.where(events['EventType']=='reb_def', 1, events['COP'].copy())

events.head(25)

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,GameID,OT,TimeRemain,EventTeam,OtherTeam,PossTeam,COP
1896418,31996227,2019,100,1101,1311,0,0,29,1101,653515,assist,201910011011311,0,2371,1101,1311,1101.0,1
1896419,31996228,2019,100,1101,1311,3,0,29,1101,653508,made3_jump,201910011011311,0,2371,1101,1311,1101.0,1
1896420,31996229,2019,100,1101,1311,0,0,58,1311,656456,turnover,201910011011311,0,2342,1311,1101,1311.0,0
1896421,31996230,2019,100,1101,1311,0,0,60,1101,653519,steal,201910011011311,0,2340,1101,1311,1311.0,1
1896422,31996231,2019,100,1101,1311,0,0,63,1311,656456,foul_pers,201910011011311,0,2337,1311,1101,1311.0,0
1896423,31996232,2019,100,1101,1311,0,0,68,1101,653515,assist,201910011011311,0,2332,1101,1311,1101.0,0
1896424,31996233,2019,100,1101,1311,6,0,68,1101,653519,made3_jump,201910011011311,0,2332,1101,1311,1101.0,0
1896425,31996234,2019,100,1101,1311,0,0,92,1101,653508,reb_def,201910011011311,0,2308,1101,1311,1311.0,1
1896426,31996235,2019,100,1101,1311,0,0,92,1311,656457,miss3_jump,201910011011311,0,2308,1311,1101,1311.0,0
1896427,31996236,2019,100,1101,1311,0,0,107,1101,653519,miss3_jump,201910011011311,0,2293,1101,1311,1101.0,1
1896428,31996237,2019,100,1101,1311,0,0,107,1311,656452,reb_def,201910011011311,0,2293,1311,1101,1101.0,1
1896429,31996238,2019,100,1101,1311,6,3,122,1311,656455,made3_jump,201910011011311,0,2278,1311,1101,1311.0,0
1896431,31996240,2019,100,1101,1311,7,3,156,1101,653513,made1_free,201910011011311,0,2244,1101,1311,1101.0,0
1896432,31996241,2019,100,1101,1311,8,3,156,1101,653513,made1_free,201910011011311,0,2244,1101,1311,1101.0,0
1896430,31996239,2019,100,1101,1311,0,0,156,1311,656454,foul_pers,201910011011311,0,2244,1311,1101,1311.0,0
1896433,31996242,2019,100,1101,1311,0,0,180,1101,653515,block,201910011011311,0,2220,1101,1311,1311.0,1
1896434,31996243,2019,100,1101,1311,0,0,180,1311,656456,miss2_lay,201910011011311,0,2220,1311,1101,1311.0,0
1896435,31996244,2019,100,1101,1311,0,0,183,1101,653515,reb_def,201910011011311,0,2217,1101,1311,1311.0,1
1896436,31996245,2019,100,1101,1311,0,0,186,1101,653513,assist,201910011011311,0,2214,1101,1311,1101.0,0
1896437,31996246,2019,100,1101,1311,10,3,186,1101,653514,made2_lay,201910011011311,0,2214,1101,1311,1101.0,0
1896438,31996247,2019,100,1101,1311,0,0,187,1311,656450,sub_in,201910011011311,0,2213,1311,1101,1101.0,0
1896439,31996248,2019,100,1101,1311,0,0,187,1311,656451,sub_in,201910011011311,0,2213,1311,1101,1101.0,0
1896440,31996249,2019,100,1101,1311,0,0,187,1311,656454,sub_out,201910011011311,0,2213,1311,1101,1101.0,0
1896441,31996250,2019,100,1101,1311,0,0,187,1311,656457,sub_out,201910011011311,0,2213,1311,1101,1101.0,1
1896442,31996251,2019,100,1101,1311,0,0,187,1311,656458,timeout,201910011011311,0,2213,1311,1101,1101.0,0

In [16]:
sample = events.loc[events['GameID'] == '2019111041380']
sample.to_csv('./output/sample_game.csv',index=False)