In [1]:
import numpy as np
import pandas as pd
import gc
gc.collect()



path = './data/'
player_ext = 'Players_2019.csv'
event_ext = 'Events_2019.csv'
teams_ext = 'Teams.csv'

events = pd.read_csv(path+event_ext)
players = pd.read_csv(path+player_ext)

In [2]:
events['GameID'] = events['Season'].astype(str) + events['DayNum'].astype(str) + events['WTeamID'].astype(str) + events['LTeamID'].astype(str)
events['OT'] = (events['ElapsedSeconds'] - 2400)/300
events['OT'] = np.where(events['OT'] < 0, 0, np.ceil(events['OT'])).astype(int)
events['TimeRemain'] = 2400 + (events['OT'] * 300) - events['ElapsedSeconds']

In [3]:
one_point = ['made1_free']
two_point = ['made2_dunk','made2_jump','made2_lay','made2_tip']
three_point = ['made3_jump']
rebound = ['reb_def','reb_dead','reb_off']
assist = ['assist']
block = ['block']
turnover = ['turnover']
steal = ['steal']

fantasy_events = one_point + two_point + three_point + rebound + assist + block + turnover + steal

fp = events.loc[events['EventType'].isin(fantasy_events)]

fp.loc[fp['EventType'].isin(two_point), 'EventType'] = '2PT'
fp.loc[fp['EventType'].isin(rebound), 'EventType'] = 'Reb'

pgb = fp.groupby(['EventPlayerID','EventType'])['EventID'].count().unstack(level=-1).reset_index()
# pgb = pgb.rename(columns={'EventPlayerID':'PlayerID'})
pgb = pgb.fillna(0)


tgb = fp.groupby(['EventTeamID','EventType'])['EventID'].count().unstack(level=-1).reset_index()

# tgb = tgb.rename(columns={'FGA':'TFGA','FTA':'TFTA','turnover':'TTO','EventTeamID':'TeamID'})
tgb.head()

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

EventType,EventTeamID,2PT,Reb,assist,block,made1_free,made3_jump,steal,turnover
0,1101,525,994,424,74,400,210,232,338
1,1102,542,1104,412,56,330,225,149,409
2,1103,467,1194,370,97,360,275,174,369
3,1104,594,1356,401,154,482,233,152,449
4,1105,535,1077,379,48,277,180,221,477

In [4]:
list(events)

['EventID',
 'Season',
 'DayNum',
 'WTeamID',
 'LTeamID',
 'WPoints',
 'LPoints',
 'ElapsedSeconds',
 'EventTeamID',
 'EventPlayerID',
 'EventType',
 'GameID',
 'OT',
 'TimeRemain']

In [5]:
# need total games played
tgp = events.groupby(['EventTeamID','GameID'])['OT'].max().reset_index()

ot = tgp.groupby(['EventTeamID'])['OT'].sum().reset_index()

tgp = tgp.groupby(['EventTeamID'])['GameID'].count().reset_index()

tgp = tgp.rename(columns={'GameID':'GameCount'})
ot = ot.rename(columns={'OT':'OTCount'})

ot.OTCount.median()

2.0

In [6]:
# player games played
pgp = events.groupby(['EventPlayerID','GameID'])['OT'].max().reset_index()
pgp = pgp.groupby(['EventPlayerID'])['GameID'].count().reset_index()
pgp = pgp.rename(columns={'GameID':'GameCount'})
pgp.head()

   EventPlayerID  GameCount
0         653508         21
1         653509         13
2         653510         26
3         653511         29
4         653512         29

In [7]:
tgb = pd.merge(tgb, tgp, how='left',on=['EventTeamID','EventTeamID'])
tgb.head()

,EventTeamID,2PT,Reb,assist,block,made1_free,made3_jump,steal,turnover,GameCount
0,1101,525,994,424,74,400,210,232,338,29
1,1102,542,1104,412,56,330,225,149,409,31
2,1103,467,1194,370,97,360,275,174,369,31
3,1104,594,1356,401,154,482,233,152,449,33
4,1105,535,1077,379,48,277,180,221,477,31

In [8]:
tgb['Team_FPTS'] = 2*tgb['2PT'] + 1.25 * tgb['Reb'] + 1.5 * tgb['assist'] + 2 * tgb['block'] + tgb['made1_free'] + 3.5*tgb['made3_jump'] + 2*tgb['steal'] - 0.5*tgb['turnover']
# add small OT factor
tgb['TPPG'] = tgb['Team_FPTS']/(tgb['GameCount']+0.25)

tgb['TPPG'] = tgb['TPPG'].round(2)
tgb = tgb[['EventTeamID','TPPG']]
tgb.head()

   EventTeamID    TPPG
0         1101  154.07
1         1102  140.96
2         1103  149.17
3         1104  155.47
4         1105  134.12

In [9]:
pgb = pd.merge(pgb, pgp, how='left',on=['EventPlayerID','EventPlayerID'])

In [10]:
pgb['Player_FPTS'] = 2*pgb['2PT'] + 1.25 * pgb['Reb'] + 1.5 * pgb['assist'] + 2 * pgb['block'] + pgb['made1_free'] + 3.5*pgb['made3_jump'] + 2*pgb['steal'] - 0.5*pgb['turnover']
# add small OT factor
pgb['FPPG'] = pgb['Player_FPTS']/(pgb['GameCount']+0.25)

pgb['FPPG'] = pgb['FPPG'].round(2)
pgb = pgb.sort_values(by=['FPPG'],ascending=False)
pgb.head()

,EventPlayerID,2PT,Reb,assist,block,made1_free,made3_jump,steal,turnover,GameCount,Player_FPTS,FPPG
2620,656216,188.0,164.0,290.0,24.0,199.0,49.0,47.0,155.0,29,1451.00,49.61
892,654429,322.0,361.0,64.0,71.0,126.0,7.0,48.0,105.0,32,1527.25,47.36
3458,657082,203.0,363.0,55.0,30.0,186.0,64.0,24.0,68.0,31,1426.25,45.64
554,654080,142.0,143.0,85.0,9.0,227.0,124.0,43.0,72.0,29,1319.25,45.10
1834,655408,166.0,256.0,163.0,30.0,126.0,45.0,63.0,90.0,30,1321.00,43.67

In [11]:
players = players.drop(columns=['Season'])

#rename
pgb = pgb.rename(columns={'EventPlayerID':'PlayerID'})
tgb = tgb.rename(columns={'EventTeamID':'TeamID'})

pgb = pd.merge(left=pgb, right=players, how='left', on=['PlayerID','PlayerID'])
pgb = pd.merge(left=pgb, right=tgb, how='left', on=['TeamID','TeamID'])
pgb.head()

,PlayerID,2PT,Reb,assist,block,made1_free,made3_jump,steal,turnover,GameCount,Player_FPTS,FPPG,TeamID,PlayerName,TPPG
0,656216,188.0,164.0,290.0,24.0,199.0,49.0,47.0,155.0,29,1451.00,49.61,1293,JA_MORANT,177.03
1,654429,322.0,361.0,64.0,71.0,126.0,7.0,48.0,105.0,32,1527.25,47.36,1169,LAMINE_DIANE,164.98
2,657082,203.0,363.0,55.0,30.0,186.0,64.0,24.0,68.0,31,1426.25,45.64,1355,MIKE_DAUM,171.93
3,654080,142.0,143.0,85.0,9.0,227.0,124.0,43.0,72.0,29,1319.25,45.10,1144,CHRIS_CLEMONS,152.09
4,655408,166.0,256.0,163.0,30.0,126.0,45.0,63.0,90.0,30,1321.00,43.67,1236,JOHN_KONCHAR,169.50

In [12]:
fp = pgb[['TeamID','PlayerID','PlayerName','FPPG','TPPG']]

teams_ext = 'Teams.csv'
teams = pd.read_csv(path+teams_ext)
teams = teams[['TeamID','TeamName']]

fp = pd.merge(fp, teams, how='left',on=['TeamID','TeamID'])

fp = fp[['TeamName','PlayerName','FPPG']]
fp.head()

        TeamName     PlayerName   FPPG
0      Murray St      JA_MORANT  49.61
1  CS Northridge   LAMINE_DIANE  47.36
2    S Dakota St      MIKE_DAUM  45.64
3       Campbell  CHRIS_CLEMONS  45.10
4           IPFW   JOHN_KONCHAR  43.67

In [13]:
needed_teams = ['Clemson','Virginia Tech','Duke','Kansas','Fresno St','Oregon','Georgia Tech','NC State',
                'Michigan St','Kentucky','Nevada','Utah',"St Mary's CA",'Wisconsin']
fp = fp.loc[fp.TeamName.isin(needed_teams)]
print(len(fp.TeamName.unique()))

14

In [14]:
rosters = pd.read_csv('2019_rosters.csv')
rosters = rosters.drop(columns=['Unnamed: 0','number'])

rosters.head()

,name,position,height,weight,class,hometown,Team
0,Clyde Trapp,G,"6' 4""",194 lbs,JR,"Eastover, SC",Clemson
1,Jonathan Baehre,F,"6' 10""",209 lbs,JR,"Wiesbaden, Germany",Clemson
2,Al-Amir Dawes,G,"6' 2""",180 lbs,FR,"Newark, NJ",Clemson
3,Chase Hunter,G,"6' 3""",200 lbs,FR,"Atlanta, GA",Clemson
4,Nick Honor,G,"5' 10""",205 lbs,SO,"Orlando, FL",Clemson

In [15]:
team_trans = {
    'Michigan State':'Michigan St',
    "Saint Mary's":"St Mary's CA",
    "Fresno State":'Fresno St'
}

rosters = rosters.replace({"Team": team_trans})

print(rosters.Team.unique())
print(fp.TeamName.unique())

['Clemson' 'Virginia Tech' 'Duke' 'Kansas' 'Fresno St' 'Oregon'
 'Georgia Tech' 'NC State' 'Michigan St' 'Kentucky' 'Nevada' 'Utah'
 "St Mary's CA" 'Wisconsin']
['Duke' 'Wisconsin' 'Oregon' 'Kansas' 'Michigan St' 'Clemson' 'Nevada'
 'Fresno St' 'Virginia Tech' "St Mary's CA" 'Kentucky' 'Georgia Tech'
 'Utah' 'NC State']

In [16]:
fp.loc[:,'PlayerName'] = fp['PlayerName'].str.replace("_"," ")
fp.loc[:,'PlayerName'] = fp['PlayerName'].str.title()

fp.head()

     TeamName       PlayerName   FPPG
7        Duke  Zion Williamson  43.22
12       Duke       Rj Barrett  40.29
14  Wisconsin       Ethan Happ  40.20
16     Oregon          Bol Bol  39.95
25     Kansas    Dedric Lawson  38.25

In [17]:
roster_to_fp = {
    "Alex O'Connell":'Alex Oconnell',
    "C.J. Bryce":'Cj Bryce',
    "D'Mitrik Trice":"Dmitrik Trice",
    "DJ Funderburk":'Derek Funderburk',
    "David McCormack":'David Mccormack',
    "EJ Montgomery":'Ej Montgomery',
    "James Banks III":'James Banks Iii',
    "John Newman III":'John Newman Iii',
    "Marcus Bingham Jr.":'Marcus Bingham Jr',
    "P.J. Horne":'Pj Horne',
    "Walt McGrory":'Walt Mcgrory'
}

fp_to_roster = dict(map(reversed, roster_to_fp.items()))
fp = fp.replace({"PlayerName": fp_to_roster})

In [18]:
# ### check for similar names to match 
# roster_names = list(rosters.name.values)
# use_names = list(use.PlayerName.values)

# print("Use minus roster")
# udiff = list(set(use_names)-set(roster_names))
# udiff.sort()
# print(udiff)

# print("Roster minus use")
# rdiff = list(set(roster_names)-set(use_names))
# rdiff.sort()
# print(rdiff)

# import difflib

# for rword in rdiff:
#     print(rword, difflib.get_close_matches(rword,udiff))

In [19]:
# not good enough for just names, need name and team

rosters['NameID'] = rosters['Team'] + ' ' + rosters['name']
fp['NameID'] = fp['TeamName'] + ' ' + fp['PlayerName']

print(fp.head())

     TeamName       PlayerName   FPPG                NameID
7        Duke  Zion Williamson  43.22  Duke Zion Williamson
12       Duke       Rj Barrett  40.29       Duke Rj Barrett
14  Wisconsin       Ethan Happ  40.20  Wisconsin Ethan Happ
16     Oregon          Bol Bol  39.95        Oregon Bol Bol
25     Kansas    Dedric Lawson  38.25  Kansas Dedric Lawson

In [20]:
roster_names = list(rosters.NameID.values)

fp['Graduated'] = np.where(fp['NameID'].isin(roster_names),"Still On Roster","Lost")

In [21]:
pos = rosters[['NameID','position']]

fp = pd.merge(fp, pos, how='left',on=['NameID','NameID'])
fp.head()

    TeamName       PlayerName   FPPG                NameID Graduated position
0       Duke  Zion Williamson  43.22  Duke Zion Williamson      Lost      NaN
1       Duke       Rj Barrett  40.29       Duke Rj Barrett      Lost      NaN
2  Wisconsin       Ethan Happ  40.20  Wisconsin Ethan Happ      Lost      NaN
3     Oregon          Bol Bol  39.95        Oregon Bol Bol      Lost      NaN
4     Kansas    Dedric Lawson  38.25  Kansas Dedric Lawson      Lost      NaN

In [22]:
fgb = fp.groupby(['TeamName','Graduated'])['FPPG'].sum().unstack(-1).reset_index()
fgb.sort_values(by="Still On Roster", ascending=False)

Graduated       TeamName    Lost  Still On Roster
6            Michigan St   78.97           129.48
10          St Mary's CA   30.95           122.42
7               NC State   68.56           119.82
3           Georgia Tech   54.26           114.71
4                 Kansas   99.17           103.65
13             Wisconsin   70.07            88.84
2              Fresno St  118.04            82.22
1                   Duke  152.17            58.14
5               Kentucky  128.51            53.53
9                 Oregon  151.67            51.96
11                  Utah  125.33            51.25
0                Clemson  114.21            44.13
12         Virginia Tech  137.44            33.28
8                 Nevada  155.52            20.99

In [35]:
returning = fp.loc[fp.Graduated=="Still On Roster"]
returning = returning.drop(columns=['Graduated'])

fgb = fgb.rename(columns={'Lost':'Available FPPG'})
# fgb = fgb.drop(columns=['Still On Roster'])

returning = pd.merge(returning, fgb, how='left',on=['TeamName','TeamName'])
returning = returning.sort_values(by=['FPPG'],ascending=False)
returning = returning.drop(columns=['NameID'])
print(returning.head(50))

         TeamName         PlayerName   FPPG position  Available FPPG
0     Michigan St    Cassius Winston  35.75        G           78.97
1    St Mary's CA        Jordan Ford  31.02        G           30.95
2    St Mary's CA        Malik Fitts  28.81        F           30.95
3       Fresno St        Nate Grimes  28.32        F          118.04
4          Oregon   Payton Pritchard  27.67        G          151.67
5    Georgia Tech    James Banks III  27.11        F           54.26
6            Duke          Tre Jones  25.73        G          152.17
7    Georgia Tech      Jose Alvarado  25.69        G           54.26
8     Michigan St     Xavier Tillman  25.28        F           78.97
9          Kansas     Udoka Azubuike  25.05        C           99.17
10    Michigan St    Joshua Langford  24.14        G           78.97
11         Kansas       Devon Dotson  24.07        G           99.17
12       NC State    Markell Johnson  23.26        G           68.56
13           Utah        Timmy Allen  23.21        F          125.33
14       NC State         C.J. Bryce  22.26        G           68.56
15      Wisconsin     D'Mitrik Trice  21.05        G           70.07
16   Georgia Tech      Michael Devoe  20.76        G           54.26
17       Kentucky      Ashton Hagans  20.01        G          128.51
18      Wisconsin       Brad Davison  19.89        G           70.07
19       NC State      Devon Daniels  19.50        G           68.56
20      Fresno St     Noah Blackwell  19.32        G          118.04
21         Kansas     Marcus Garrett  18.70        G           99.17
22      Wisconsin       Nate Reuvers  18.29        F           70.07
23        Clemson        Aamir Simms  18.00        F          114.21
24         Kansas       Ochai Agbaji  17.84        G           99.17
25       NC State      DJ Funderburk  17.83        F           68.56
26       NC State    Braxton Beverly  17.44        G           68.56
27         Nevada       Jazz Johnson  17.27        G          155.52
28   St Mary's CA       Tanner Krebs  16.50        G           30.95
29      Fresno St       New Williams  15.90        G          118.04
30           Duke         Jack White  15.37        F          152.17
31         Oregon    Will Richardson  15.02        G          151.67
32   St Mary's CA        Tommy Kuhse  14.97        G           30.95
33           Utah          Both Gach  14.31        G          125.33
34   Georgia Tech       Moses Wright  14.05        F           54.26
35        Clemson        Clyde Trapp  13.91        G          114.21
36    Michigan St        Aaron Henry  13.81        F           78.97
37           Utah       Riley Battin  12.73        F          125.33
38  Virginia Tech       Wabissa Bede  12.57        G          137.44
39       Kentucky      EJ Montgomery  11.83        F          128.51
40       NC State   Jericole Hellems  11.35        F           68.56
41       Kentucky      Nick Richards  11.26        F          128.51
42    Michigan St        Kyle Ahrens  10.75        G           78.97
43       Kentucky  Immanuel Quickley  10.43        G          128.51
44  Virginia Tech     Isaiah Wilkins   9.98        G          137.44
45      Wisconsin      Brevin Pritzl   9.83        G           70.07
46   St Mary's CA      Matthias Tass   9.47        F           30.95
47         Oregon      Francis Okoro   8.72        F          151.67
48   Georgia Tech          Evan Cole   8.70        F           54.26
49           Duke     Alex O'Connell   8.66        G          152.17

In [33]:
returning.loc[returning['position']=='C', 'position'] = 'F'
lost = fgb[['TeamName','Available FPPG']]
lost = lost.rename(columns={'Available FPPG':'Lost'})

pos_gb = returning.groupby(['TeamName','position'])['FPPG'].sum().unstack(-1).reset_index()
pos_gb = pd.merge(pos_gb, lost, how='left',on=['TeamName','TeamName'])
pos_gb = pos_gb.sort_values(by=['Lost'],ascending=False)
pos_gb = pos_gb.fillna(0)
pos_gb

         TeamName      F      G    Lost
8          Nevada   0.00  20.99  155.52
1            Duke  18.65  39.49  152.17
9          Oregon   8.72  43.24  151.67
12  Virginia Tech   7.75  25.53  137.44
5        Kentucky  23.09  30.44  128.51
11           Utah  36.46  14.79  125.33
2       Fresno St  39.74  42.48  118.04
0         Clemson  24.39  19.74  114.21
4          Kansas  42.19  61.46   99.17
6     Michigan St  51.76  77.72   78.97
13      Wisconsin  25.19  63.65   70.07
7        NC State  29.18  90.64   68.56
3    Georgia Tech  63.24  51.47   54.26
10   St Mary's CA  58.42  64.00   30.95