In [70]:
import numpy as np
import pandas as pd


path = './data/'
output = './output/'

In [60]:
# start with an effort to figure out if players are returning the next year
# sometimes their name gets inexplicably reversed, in fact most are reversed in 2018
# need column that answers question (did return?)
# merge in player stats

# ONLY NEED TO RUN ONE TIME
# years = list(range(2010, 2020))
# years = list(map(str, years))
# years.reverse()

# for y in years:
#     player_ext = "Players_{}.csv".format(y)
#     players = pd.read_csv(path+player_ext)
#     if years.index(y) != 0:
#         players = pd.merge(players, ny_players, how='left', on=['TeamID','TeamID'])
      
#     players['AltName'] = players['PlayerName'].str.replace('_',' ')
#     players['AltName'] = ['_'.join(s.split()[::-1]) for s in players['AltName']]
    
# #     players that will play the next year (since I'm going backward)
#     ny_players = players.groupby(['TeamID'])['PlayerName'].apply(list).reset_index(name='NY_Players')
#     ny_players = ny_players[['TeamID','NY_Players']]
#     if years.index(y) != 0:
#         players['NY_Players'] = players['NY_Players'].apply(lambda d: d if isinstance(d, list) else [])
#         players['WillReturn'] = players.apply(lambda x: x['PlayerName'] in x['NY_Players'], axis=1)
#         players['WillReturn2'] = players.apply(lambda x: x['AltName'] in x['NY_Players'], axis=1)
#         players['Returning'] = np.where((players['WillReturn']|players['WillReturn2']), True, False)
#         players = players[['PlayerID','Season','TeamID','PlayerName','AltName','Returning']]
#         players = players.loc[players['PlayerName']!='TEAM']
#         players.to_csv(path+'New_Players_{}.csv'.format(y),index=None)

In [15]:
list(events)

['EventID',
 'Season',
 'DayNum',
 'WTeamID',
 'LTeamID',
 'WPoints',
 'LPoints',
 'ElapsedSeconds',
 'EventTeamID',
 'EventPlayerID',
 'EventType']

In [18]:
# make sure score keeping is relatively consistent
# events.groupby(['EventType'])['EventID'].count()

# 2018 numbers
#made2_dunk     18975
# made2_jump     64606
# made2_lay     110309
# made2_tip       4198

# 2010 numbers
# made2_dunk     16065
# made2_jump     69599
# made2_lay      97364
# made2_tip       4416

# seems okay, scoring seems to have gone up over time, or there are more games

EventType
assist        135116
block          36076
foul_pers     196038
foul_tech       1486
made1_free    151741
made2_dunk     16065
made2_jump     69599
made2_lay      97364
made2_tip       4416
made3_jump     65164
miss1_free     59367
miss2_dunk      1829
miss2_jump    128469
miss2_lay      72835
miss2_tip       2447
miss3_jump    125362
reb_dead       32061
reb_def       247105
reb_off       119795
steal          69508
sub_in        325212
sub_out       326376
timeout        36260
timeout_tv     38518
turnover      144421
Name: EventID, dtype: int64

In [19]:
# only use events we care about
# print(list(events.EventType.unique()))

dont_care = ['foul_pers','foul_tech','timeout_tv', 'reb_dead', 'timeout','sub_in', 'sub_out']
# i don't think i'm going to tally missed shots
missed = ['miss2_jump','miss1_free','miss3_jump', 'miss2_lay',  'miss2_dunk', 'miss2_tip']

event_types = ['assist', 'made3_jump', 'turnover',  'reb_off', 'made2_dunk','made2_jump', 'steal', 'made1_free', 'block','reb_def','made2_lay', 'made2_tip']

2502630
1156370

In [63]:
def filter_events(df):
    df = df.loc[df.EventType.isin(event_types)]
    return df

In [64]:
# categories I'm interested in year over yeat
# aggregate event types
rebounds = ['reb_off','reb_def']
# close range 2pts
cr_2pt = ['made2_lay', 'made2_tip', 'made2_dunk']
# mid range 2pts
mr_2pt = ['made2_jump']
# 3 points
lr = ['made3_jump']
# assists, blocks, steals, fts
# 8 total categories

In [65]:
def aggregate_events(df):
    
    df.loc[df.EventType.isin(rebounds), 'EventType'] = 'rebound'
    df.loc[df.EventType.isin(cr_2pt), 'EventType'] = 'cr_2pt'
    
    return df

In [66]:
# can group events by player id

def player_level_events(df):
    df = df.groupby(['EventPlayerID','EventType'])['EventID'].count().unstack(-1).reset_index().fillna(0)
    df = df.rename(columns={'EventPlayerID':'PlayerID'})
    return df

In [81]:
teams_ext = 'Teams.csv'
teams = pd.read_csv(path+teams_ext)

In [71]:
years = list(range(2010, 2019))
years = list(map(str, years))

for y in years:
    player_ext = 'New_Players_{}.csv'.format(y)
    event_ext = 'Events_{}.csv'.format(y)
    events = pd.read_csv(path+event_ext)
    players = pd.read_csv(path+player_ext)
    
    events = filter_events(events)
    events = aggregate_events(events)
    events = player_level_events(events)
    
    players = pd.merge(players, events, how='left', on=['PlayerID','PlayerID'])
    players = players.loc[players.PlayerName != 'TEAM']
    players = players.fillna(0)
    #player level season stats, and if they return
    players.to_csv(output+'PL_Season_Stats_{}.csv'.format(y),index=None)

In [72]:
print(players.head())

   PlayerID  Season  TeamID       PlayerName          AltName  Returning  \
0    648095    2018    1101       COBB_CHASE       CHASE_COBB       True
1    648096    2018    1101   FARQHAR_HAYDEN   HAYDEN_FARQHAR      False
2    648097    2018    1101  FARQUHAR_HAYDEN  HAYDEN_FARQUHAR       True
3    648098    2018    1101     FOSTER_TEVIN     TEVIN_FOSTER      False
4    648099    2018    1101  FRANKLIN_JAYLEN  JAYLEN_FRANKLIN       True

   assist  block  cr_2pt  made1_free  made2_jump  made3_jump  rebound  steal  \
0     0.0    0.0     0.0         0.0         0.0         0.0      0.0    0.0
1     0.0    1.0     0.0         0.0         0.0         1.0      1.0    0.0
2     9.0    6.0    14.0         4.0         2.0        13.0     51.0   10.0
3    89.0    4.0    43.0        94.0        18.0        43.0     82.0   38.0
4   117.0    5.0    85.0        48.0        31.0         4.0    114.0   45.0

   turnover
0       0.0
1       2.0
2      11.0
3      82.0
4      77.0

In [82]:
# print(teams.head())
teams = teams[['TeamID','TeamName']]

     TeamID         TeamName
0      1101      Abilene Chr
1      1102        Air Force
2      1103            Akron
3      1104          Alabama
4      1105      Alabama A&M
5      1106       Alabama St
6      1107        Albany NY
7      1108        Alcorn St
8      1109     Alliant Intl
9      1110    American Univ
10     1111   Appalachian St
11     1112          Arizona
12     1113       Arizona St
13     1114  Ark Little Rock
14     1115   Ark Pine Bluff
15     1116         Arkansas
16     1117      Arkansas St
17     1118     Armstrong St
18     1119             Army
19     1120           Auburn
20     1121          Augusta
21     1122      Austin Peay
22     1123          Ball St
23     1124           Baylor
24     1125          Belmont
25     1126  Bethune-Cookman
26     1127       Binghamton
27     1128    Birmingham So
28     1129         Boise St
29     1130   Boston College
..      ...              ...
336    1437        Villanova
337    1438         Virginia
338    1439    Virginia Tech
339    1440              VMI
340    1441       W Carolina
341    1442       W Illinois
342    1443              WKU
343    1444       W Michigan
344    1445       W Salem St
345    1446      W Texas A&M
346    1447           Wagner
347    1448      Wake Forest
348    1449       Washington
349    1450    Washington St
350    1451         Weber St
351    1452    West Virginia
352    1453     WI Green Bay
353    1454     WI Milwaukee
354    1455       Wichita St
355    1456   William & Mary
356    1457         Winthrop
357    1458        Wisconsin
358    1459          Wofford
359    1460        Wright St
360    1461          Wyoming
361    1462           Xavier
362    1463             Yale
363    1464    Youngstown St
364    1465      Cal Baptist
365    1466    North Alabama

[366 rows x 2 columns]

In [91]:
def get_pct_totals(df):
    
    cols = ['assist','block','cr_2pt','made1_free','made2_jump','made3_jump','rebound','steal','turnover']

   
    for c in cols:
        new_c = 'pct_'+c
        total_c = 'total_'+c
        df[new_c] = np.round(df[c]/df[total_c], 2)
    return df

In [96]:
# team level returning
pl_sum_cols = ['TeamID','total_assist','total_block','total_cr_2pt','total_made1_free','total_made2_jump','total_made3_jump','total_rebound','total_steal','total_turnover']
cols = ['assist','block','cr_2pt','made1_free','made2_jump','made3_jump','rebound','steal','turnover']
pct_cols = ['pct_'+c for c in cols]
pct_cols.insert(0, 'Returning')
pct_cols.insert(0, 'TeamID')


for y in years:
    pl = pd.read_csv(output+'PL_Season_Stats_{}.csv'.format(y))
    pl = pl.groupby(['TeamID','Returning'])['assist','block','cr_2pt','made1_free','made2_jump','made3_jump','rebound','steal','turnover'].sum().reset_index()
    pl_sum = pl.groupby(['TeamID'])['assist','block','cr_2pt','made1_free','made2_jump','made3_jump','rebound','steal','turnover'].sum().reset_index()
    pl_sum.columns=pl_sum_cols
    pl = pd.merge(pl, pl_sum, how='left',on=['TeamID','TeamID'])
    pl = get_pct_totals(pl)
    pl = pl[pct_cols]
    pl = pl.loc[pl.Returning==True]
    pl['Season'] = y
    pl = pd.merge(pl, teams, how='left', on=['TeamID','TeamID'])
    
    print(pl.head())

   TeamID  Returning  pct_assist  pct_block  pct_cr_2pt  pct_made1_free  \
0    1102      False        0.25       0.20        0.34            0.26
1    1102       True        0.75       0.80        0.66            0.74
2    1103      False        0.43       0.16        0.47            0.48
3    1103       True        0.57       0.84        0.53            0.52
4    1104      False        0.60       0.19        0.30            0.51

   pct_made2_jump  pct_made3_jump  pct_rebound  pct_steal  pct_turnover
0            0.22            0.21         0.30       0.28          0.33
1            0.78            0.79         0.70       0.72          0.67
2            0.36            0.34         0.41       0.48          0.44
3            0.64            0.66         0.59       0.52          0.56
4            0.40            0.46         0.30       0.36          0.40
   TeamID  Returning  pct_assist  pct_block  pct_cr_2pt  pct_made1_free  \
0    1102      False        0.47       0.54        0.46            0.46
1    1102       True        0.53       0.46        0.54            0.54
2    1103      False        0.37       0.13        0.25            0.37
3    1103       True        0.63       0.87        0.75            0.63
4    1104      False        0.38       0.34        0.25            0.25

   pct_made2_jump  pct_made3_jump  pct_rebound  pct_steal  pct_turnover
0            0.41            0.60         0.50       0.43          0.41
1            0.59            0.40         0.50       0.57          0.59
2            0.39            0.53         0.33       0.33          0.30
3            0.61            0.47         0.67       0.67          0.70
4            0.33            0.58         0.36       0.39          0.38
   TeamID  Returning  pct_assist  pct_block  pct_cr_2pt  pct_made1_free  \
0    1102      False        0.21       0.08        0.16            0.16
1    1102       True        0.79       0.92        0.84            0.84
2    1103      False        0.39       0.09        0.31            0.32
3    1103       True        0.61       0.91        0.69            0.68
4    1104      False        0.30       0.52        0.36            0.32

   pct_made2_jump  pct_made3_jump  pct_rebound  pct_steal  pct_turnover
0            0.12            0.02         0.15       0.20          0.16
1            0.88            0.98         0.85       0.80          0.84
2            0.28            0.39         0.35       0.36          0.40
3            0.72            0.61         0.65       0.64          0.60
4            0.45            0.31         0.38       0.27          0.33
   TeamID  Returning  pct_assist  pct_block  pct_cr_2pt  pct_made1_free  \
0    1102      False        0.68       0.68        0.68            0.74
1    1102       True        0.32       0.32        0.32            0.26
2    1103      False        0.57       0.70        0.41            0.53
3    1103       True        0.43       0.30        0.59            0.47
4    1104      False        0.46       0.57        0.27            0.31

   pct_made2_jump  pct_made3_jump  pct_rebound  pct_steal  pct_turnover
0            0.83            0.78         0.62       0.67          0.64
1            0.17            0.22         0.38       0.33          0.36
2            0.45            0.52         0.42       0.47          0.39
3            0.55            0.48         0.58       0.53          0.61
4            0.26            0.35         0.42       0.37          0.45
   TeamID  Returning  pct_assist  pct_block  pct_cr_2pt  pct_made1_free  \
0    1101      False        0.20       0.57        0.54            0.37
1    1101       True        0.80       0.43        0.46            0.63
2    1102      False        0.31       0.25        0.19            0.27
3    1102       True        0.69       0.75        0.81            0.73
4    1103      False        0.48       0.15        0.33            0.34

   pct_made2_jump  pct_made3_jump  pct_rebound  pct_steal  pct_turnover
0            0.39            0.29         0.39       0.27          0.41
1            0.61            0.71         0.61       0.73          0.59
2            0.35            0.38         0.23       0.31          0.30
3            0.65            0.62         0.77       0.69          0.70
4            0.42            0.27         0.28       0.45          0.43
   TeamID  Returning  pct_assist  pct_block  pct_cr_2pt  pct_made1_free  \
0    1101      False        0.45       0.48        0.50            0.46
1    1101       True        0.55       0.52        0.50            0.54
2    1102      False        0.56       0.56        0.56            0.58
3    1102       True        0.44       0.44        0.44            0.42
4    1103      False        0.25       0.12        0.29            0.33

   pct_made2_jump  pct_made3_jump  pct_rebound  pct_steal  pct_turnover
0            0.61            0.41         0.45       0.42          0.54
1            0.39            0.59         0.55       0.58          0.46
2            0.54            0.54         0.54       0.54          0.57
3            0.46            0.46         0.46       0.46          0.43
4            0.06            0.22         0.23       0.31          0.25
   TeamID  Returning  pct_assist  pct_block  pct_cr_2pt  pct_made1_free  \
0    1101      False        0.45       0.39        0.30            0.34
1    1101       True        0.55       0.61        0.70            0.66
2    1102      False        0.17       0.42        0.25            0.19
3    1102       True        0.83       0.58        0.75            0.81
4    1103      False        0.17       0.33        0.23            0.25

   pct_made2_jump  pct_made3_jump  pct_rebound  pct_steal  pct_turnover
0            0.33            0.59         0.40       0.42          0.35
1            0.67            0.41         0.60       0.58          0.65
2            0.18            0.14         0.22       0.15          0.24
3            0.82            0.86         0.78       0.85          0.76
4            0.24            0.42         0.32       0.32          0.21
   TeamID  Returning  pct_assist  pct_block  pct_cr_2pt  pct_made1_free  \
0    1101      False        0.11       0.00        0.03            0.06
1    1101       True        0.89       1.00        0.97            0.94
2    1102      False        0.29       0.40        0.31            0.20
3    1102       True        0.71       0.60        0.69            0.80
4    1103      False        0.84       0.72        0.72            0.78

   pct_made2_jump  pct_made3_jump  pct_rebound  pct_steal  pct_turnover
0            0.04            0.07         0.05       0.06          0.09
1            0.96            0.93         0.95       0.94          0.91
2            0.28            0.40         0.34       0.27          0.28
3            0.72            0.60         0.66       0.73          0.72
4            0.88            0.83         0.75       0.73          0.81
   TeamID  Returning  pct_assist  pct_block  pct_cr_2pt  pct_made1_free  \
0    1101      False        0.34       0.09        0.22            0.34
1    1101       True        0.66       0.91        0.78            0.66
2    1102      False        0.61       0.47        0.51            0.60
3    1102       True        0.39       0.53        0.49            0.40
4    1103      False        0.54       0.18        0.47            0.47

   pct_made2_jump  pct_made3_jump  pct_rebound  pct_steal  pct_turnover
0            0.23            0.47         0.22       0.33          0.36
1            0.77            0.53         0.78       0.67          0.64
2            0.42            0.53         0.56       0.62          0.57
3            0.58            0.47         0.44       0.38          0.43
4            0.44            0.51         0.49       0.57          0.56