In [1]:
import numpy as np
import pandas as pd
import os


path = './data/'
output = './output/'

In [2]:
df = pd.read_csv(path+'RegularSeasonDetailedResults.csv')
print(len(df))
print(list(df))

82041
['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']

In [3]:
print(df.Season.unique())

[2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016
 2017 2018]

In [4]:
df = df.loc[df.Season>=2010]
print(len(df))

47967

In [5]:


new_cols = []
for column in list(df):
    if column == 'WLoc':
        new_cols.append('WLoc')
    else:
        column = column.replace("W","")
        column = column.replace("L","Opp")
        new_cols.append(column)
    
print(new_cols)

['Season', 'DayNum', 'TeamID', 'Score', 'OppTeamID', 'OppScore', 'WLoc', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA', 'OppFGM3', 'OppFGA3', 'OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO', 'OppStl', 'OppBlk', 'OppPF']

In [6]:
df.columns=new_cols

In [10]:
print(df.WLoc.unique())

['H' 'N' 'A']

In [9]:
opp_df = df.copy()
opp_cols = list(opp_df)

static_cols = ['Season','DayNum','WLoc','NumOT']
new_oc = []

for col in opp_cols:
    if col in static_cols:
        new_oc.append(col)
    elif "Opp" in col:
        new_oc.append(col.replace("Opp",""))
    else:
        new_oc.append('Opp'+col)

print(new_oc)

opp_df.columns=new_oc

['Season', 'DayNum', 'OppTeamID', 'OppScore', 'TeamID', 'Score', 'WLoc', 'NumOT', 'OppFGM', 'OppFGA', 'OppFGM3', 'OppFGA3', 'OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO', 'OppStl', 'OppBlk', 'OppPF', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF']

In [11]:
# adjust location
reverse = {
    'H':'A',
    'A':'H',
    'N':'N'
}

opp_df['WLoc'] = opp_df['WLoc'].replace(reverse)
print(opp_df.WLoc.head())

34074    A
34075    A
34076    A
34077    A
34078    A
Name: WLoc, dtype: object

In [12]:
# rearrange columns to match original
opp_df = opp_df[new_cols]
print(list(opp_df))

['Season', 'DayNum', 'TeamID', 'Score', 'OppTeamID', 'OppScore', 'WLoc', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA', 'OppFGM3', 'OppFGA3', 'OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO', 'OppStl', 'OppBlk', 'OppPF']

In [13]:
print(len(df))
df = pd.concat([df,opp_df],axis=0)
print(len(df))

df = df.rename(columns={'WLoc':'Loc'})

47967
95934

In [17]:
# possessions calc
# field goals attempted - offensive rebounds + turnovers + (0.4 x free throws attempted)

df['Poss'] = df['FGA']-df['OR']+df['TO']+(0.4*df['FTA'])
df['OppPoss'] = df['OppFGA']-df['OppOR']+df['OppTO']+(0.4*df['OppFTA'])
df['Poss'] = np.round((df['Poss']+df['OppPoss'])/2,1)
df = df.drop(columns=['OppPoss'])

df['Poss'].head()

34074    63.9
34075    82.2
34076    70.9
34077    80.0
34078    69.4
Name: Poss, dtype: float64

Desired YOY stats...
FG%,
FGM3%,
Rebound%,
Assist,Steals,Turnovers,Blocks per Poss?
Pace

In [20]:
# SeasonTeamID
df['SeaTeamID'] = df['Season'].astype(str)+df['TeamID'].astype(str)

# only need a some columns 
desired_cols = ['SeaTeamID','Season','TeamID','FGM','FGA','FGM3','FGA3','OR','DR',
                'OppFGM','OppFGA','OppFGM3','OppFGA3','OppOR','OppDR','Poss']

gb = df[desired_cols]


# first groupby Team/Season

gb = gb.groupby(['SeaTeamID'])['FGM','FGA','FGM3','FGA3','OR','DR','OppFGM','OppFGA','OppFGM3','OppFGA3','OppOR','OppDR','Poss'].mean().reset_index()
gb = gb.rename(columns={'Poss':'Pace'})

gb.head()

,SeaTeamID,FGM,FGA,FGM3,FGA3,OR,DR,OppFGM,OppFGA,OppFGM3,OppFGA3,OppOR,OppDR,Poss
0,20101102,24.000000,46.875000,7.125000,17.375000,8.250000,23.750000,19.750000,50.250000,6.250000,23.875000,9.625000,18.875000,58.975000
1,20101103,26.173913,56.347826,7.260870,19.304348,12.347826,23.869565,21.782609,54.608696,4.826087,16.304348,11.782609,20.652174,66.326087
2,20101104,26.000000,56.058824,5.529412,15.294118,12.705882,25.117647,21.764706,55.941176,5.411765,18.705882,12.529412,20.705882,64.782353
3,20101105,25.000000,59.000000,4.375000,12.250000,16.125000,26.125000,20.875000,57.125000,4.250000,17.875000,15.250000,23.250000,70.475000
4,20101106,24.076923,54.153846,6.307692,18.076923,14.307692,25.538462,21.461538,52.769231,4.692308,13.923077,9.307692,21.153846,67.492308
5,20101107,27.000000,55.714286,6.714286,17.000000,12.000000,27.714286,23.142857,58.142857,6.428571,18.857143,9.285714,19.571429,66.671429
6,20101108,23.500000,52.500000,4.500000,15.000000,9.000000,24.000000,19.000000,51.500000,4.000000,19.500000,9.500000,24.500000,69.950000
7,20101110,23.454545,49.454545,6.090909,15.636364,8.818182,27.727273,21.181818,53.636364,5.818182,19.090909,7.818182,19.909091,64.400000
8,20101111,26.150000,50.750000,7.350000,16.850000,10.250000,28.200000,23.900000,58.950000,7.650000,22.950000,10.300000,17.550000,65.415000
9,20101112,25.937500,55.062500,7.125000,18.187500,9.750000,26.687500,24.187500,59.875000,5.500000,19.437500,11.750000,22.687500,70.087500
10,20101113,23.681818,49.136364,8.863636,22.045455,8.772727,24.454545,18.772727,51.454545,5.227273,17.727273,11.409091,19.772727,60.040909
11,20101114,23.166667,47.333333,7.666667,16.000000,7.000000,26.666667,24.000000,58.500000,8.500000,26.000000,10.500000,21.500000,63.933333
12,20101115,21.882353,51.000000,4.058824,13.529412,12.058824,27.294118,17.647059,49.352941,3.705882,13.588235,9.176471,21.823529,67.123529
13,20101116,27.714286,55.928571,6.928571,17.428571,10.000000,28.142857,23.142857,62.357143,6.928571,21.785714,12.428571,21.571429,70.535714
14,20101117,25.000000,52.000000,5.266667,14.333333,10.200000,27.266667,22.066667,58.533333,4.266667,17.000000,12.800000,21.133333,65.506667
15,20101119,22.769231,52.615385,5.307692,14.846154,11.153846,22.538462,17.153846,46.384615,5.692308,21.307692,9.692308,22.307692,61.592308
16,20101120,27.071429,54.571429,8.071429,21.714286,11.142857,24.000000,24.214286,57.357143,6.714286,20.500000,11.571429,21.142857,68.414286
17,20101122,24.600000,53.333333,5.800000,15.733333,11.600000,24.933333,24.000000,59.066667,7.066667,20.466667,13.000000,22.800000,67.153333
18,20101123,22.428571,49.857143,4.500000,10.428571,11.000000,27.571429,22.142857,58.785714,5.357143,20.285714,11.714286,20.642857,63.457143
19,20101124,27.500000,56.000000,6.958333,18.041667,12.041667,27.625000,21.958333,59.875000,6.416667,20.500000,13.333333,19.083333,66.433333
20,20101125,25.684211,54.263158,8.210526,21.947368,12.421053,26.842105,23.263158,59.684211,5.368421,18.368421,13.368421,20.631579,69.431579
21,20101126,24.000000,52.642857,3.214286,10.285714,12.285714,23.142857,18.571429,48.142857,5.142857,16.071429,11.285714,21.142857,61.271429
22,20101127,25.000000,53.727273,6.000000,16.818182,12.000000,26.181818,21.818182,57.454545,7.090909,20.545455,12.727273,20.727273,63.327273
23,20101129,29.571429,60.714286,6.642857,17.571429,11.571429,27.071429,24.642857,61.571429,5.071429,17.500000,12.500000,22.285714,70.721429
24,20101130,28.266667,58.866667,5.266667,15.066667,13.933333,26.533333,23.200000,59.600000,4.266667,17.133333,11.933333,19.133333,65.253333
25,20101131,24.473684,56.473684,8.842105,22.157895,11.210526,28.105263,20.315789,55.894737,4.947368,19.842105,11.473684,24.315789,67.926316
26,20101132,24.615385,51.461538,4.153846,12.153846,11.923077,24.384615,21.000000,53.461538,7.000000,21.692308,10.769231,19.307692,62.192308
27,20101133,25.062500,52.437500,6.437500,16.812500,8.250000,25.937500,22.000000,58.187500,6.500000,24.062500,12.375000,21.437500,64.275000
28,20101135,24.000000,50.888889,7.000000,19.666667,7.222222,25.888889,25.222222,61.111111,5.000000,18.888889,12.555556,23.000000,64.244444
29,20101136,18.000000,42.000000,5.000000,14.000000,10.000000,19.000000,20.000000,45.000000,6.000000,15.000000,8.000000,16.000000,53.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,20181433,29.444444,60.611111,9.000000,22.944444,10.500000,27.444444,25.555556,60.611111,7.388889,23.277778,10.055556,23.777778,71.561111
3107,20181434,27.076923,54.230769,7.000000,17.846154,9.076923,28.692308,21.615385,56.076923,6.230769,21.307692,10.230769,20.692308,69.284615
3108,20181435,26.166667,53.666667,10.500000,25.166667,8.916667,24.750000,25.333333,58.750000,5.250000,16.583333,10.583333,21.166667,64.966667
3109,20181436,25.307692,51.038462,7.346154,18.230769,7.730769,26.346154,22.923077,55.230769,6.769231,21.384615,7.730769,20.846154,63.534615
3110,20181437,31.100000,60.966667,11.766667,28.266667,9.566667,26.266667,25.733333,60.233333,6.566667,21.166667,9.766667,22.400000,69.220000
3111,20181438,25.322581,54.225806,7.193548,18.129032,8.419355,24.322581,18.645161,50.129032,5.870968,19.870968,8.548387,21.806452,59.722581
3112,20181439,29.857143,57.476190,9.333333,22.857143,7.619048,27.619048,24.571429,61.761905,8.190476,26.904762,10.952381,22.476190,70.223810
3113,20181440,26.714286,57.714286,9.285714,25.142857,8.285714,26.571429,23.428571,57.571429,6.571429,24.857143,11.142857,25.571429,69.414286
3114,20181441,26.909091,59.636364,7.636364,20.272727,12.545455,27.545455,24.000000,58.636364,8.909091,28.909091,10.545455,23.727273,71.045455
3115,20181442,26.000000,51.750000,8.125000,18.625000,5.500000,31.000000,23.875000,62.375000,7.500000,24.000000,10.500000,23.125000,69.450000
3116,20181443,29.391304,56.130435,5.913043,15.260870,8.521739,27.956522,25.130435,61.956522,7.652174,22.608696,10.913043,22.304348,69.286957
3117,20181444,26.533333,59.200000,8.533333,22.266667,11.200000,25.933333,24.066667,56.466667,7.733333,24.400000,9.200000,24.333333,67.700000
3118,20181447,26.333333,56.666667,9.285714,21.904762,11.857143,25.952381,20.714286,53.047619,6.666667,20.285714,10.285714,21.809524,65.923810
3119,20181448,27.272727,54.818182,7.636364,18.181818,10.181818,25.363636,22.363636,54.363636,8.272727,23.636364,9.818182,20.818182,65.854545
3120,20181449,27.750000,55.950000,7.400000,18.400000,9.150000,23.750000,25.550000,59.150000,6.300000,21.100000,11.800000,20.550000,68.925000
3121,20181450,27.833333,58.250000,11.833333,28.666667,7.416667,28.000000,25.750000,63.750000,8.166667,27.166667,12.666667,24.833333,70.033333
3122,20181451,28.000000,54.882353,9.352941,21.411765,6.117647,29.235294,25.470588,62.294118,6.294118,20.294118,10.882353,23.411765,70.064706
3123,20181452,28.291667,63.375000,8.791667,24.291667,13.875000,25.625000,20.541667,52.250000,6.833333,19.833333,10.250000,23.541667,69.404167
3124,20181453,27.600000,60.300000,10.800000,24.800000,10.400000,28.000000,26.600000,63.400000,8.300000,25.800000,12.300000,25.500000,71.740000
3125,20181454,26.266667,53.400000,7.533333,19.800000,6.933333,28.600000,21.800000,56.333333,6.133333,20.133333,8.000000,23.133333,66.413333
3126,20181455,30.040000,60.920000,9.720000,23.760000,12.240000,28.680000,23.880000,58.120000,8.680000,23.880000,8.400000,21.640000,69.364000
3127,20181456,30.411765,56.941176,11.411765,24.352941,6.235294,28.529412,29.176471,64.411765,8.294118,24.176471,10.117647,22.588235,72.329412
3128,20181457,27.625000,56.125000,9.562500,24.500000,8.937500,29.437500,23.625000,59.750000,6.187500,21.500000,8.875000,21.875000,70.675000
3129,20181458,26.000000,52.133333,7.600000,19.066667,9.133333,23.133333,22.733333,52.800000,4.533333,15.800000,7.933333,19.600000,62.566667
3130,20181459,27.333333,56.277778,11.055556,26.055556,8.277778,24.611111,23.277778,52.777778,7.500000,22.666667,7.722222,22.944444,66.761111
3131,20181460,25.652174,57.260870,7.000000,19.652174,9.739130,27.130435,22.086957,57.391304,7.130435,22.695652,9.652174,24.260870,69.182609
3132,20181461,27.315789,59.578947,9.842105,28.000000,7.052632,30.368421,25.368421,61.368421,7.578947,22.105263,8.894737,28.947368,75.873684
3133,20181462,29.250000,58.571429,8.250000,21.607143,9.607143,29.214286,26.321429,63.285714,8.285714,25.750000,9.142857,22.142857,71.635714
3134,20181463,29.200000,57.733333,9.400000,24.466667,9.133333,26.333333,25.333333,58.200000,6.533333,20.200000,10.333333,22.400000,69.380000
3135,20181464,29.500000,61.833333,8.666667,22.333333,12.666667,20.833333,26.666667,56.166667,7.166667,19.500000,10.000000,20.500000,67.533333

In [22]:


gb['FG%']  = gb['FGM']/gb['FGA']
gb['FGM3%'] = gb['FGM3']/gb['FGA3']

#allowed 
gb['A_FG%']  = gb['OppFGM']/gb['OppFGA']
gb['A_FGM3%'] = gb['OppFGM3']/gb['OppFGA3']

#defensive rebound rate
gb['DRR'] = gb['DR']/(gb['DR']+gb['OppOR'])

#offensive rebound rate
gb['ORR'] = gb['OR']/(gb['OR']+gb['OppDR'])

gb = gb[['SeaTeamID','FG%','FGM3%','A_FG%','A_FGM3%','DRR','ORR','Pace']]

gb.head()

,SeaTeamID,FG%,FGM3%,A_FG%,A_FGM3%,DRR,ORR,Pace
0,20101102,0.512000,0.410072,0.393035,0.261780,0.711610,0.304147,58.975000
1,20101103,0.464506,0.376126,0.398885,0.296000,0.669512,0.374177,66.326087
2,20101104,0.463799,0.361538,0.389064,0.289308,0.667187,0.380282,64.782353
3,20101105,0.423729,0.357143,0.365427,0.237762,0.631420,0.409524,70.475000
4,20101106,0.444602,0.348936,0.406706,0.337017,0.732892,0.403471,67.492308

In [25]:
teams = df[['SeaTeamID','Season','TeamID']]
teams = teams.drop_duplicates()

gb = pd.merge(left=gb,right=teams,how='left',on=['SeaTeamID','SeaTeamID'])

In [28]:
gb['NextSeason'] = gb['Season'] + 1
gb['NextSeaTID'] = gb['NextSeason'].astype(str) + gb['TeamID'].astype(str)
gb = gb.drop(columns=['NextSeason'])
gb.head()

,SeaTeamID,FG%,FGM3%,A_FG%,A_FGM3%,DRR,ORR,Pace,Season,TeamID,NextSeason,NextSeaTID
0,20101102,0.512000,0.410072,0.393035,0.261780,0.711610,0.304147,58.975000,2010,1102,2011,20111102
1,20101103,0.464506,0.376126,0.398885,0.296000,0.669512,0.374177,66.326087,2010,1103,2011,20111103
2,20101104,0.463799,0.361538,0.389064,0.289308,0.667187,0.380282,64.782353,2010,1104,2011,20111104
3,20101105,0.423729,0.357143,0.365427,0.237762,0.631420,0.409524,70.475000,2010,1105,2011,20111105
4,20101106,0.444602,0.348936,0.406706,0.337017,0.732892,0.403471,67.492308,2010,1106,2011,20111106

In [32]:
ns = gb.copy()

ns = ns[['SeaTeamID', 'FG%','FGM3%','A_FG%','A_FGM3%','DRR','ORR','Pace']]

new_cols=[]
for col in list(ns):
    new_cols.append('N'+col)
    
ns.columns=new_cols
ns = ns.rename(columns={'NSeaTeamID':'NextSeaTID'})

gb = pd.merge(left=gb,right=ns,how='left',on=['NextSeaTID','NextSeaTID'])

gb.head()

,SeaTeamID,FG%,FGM3%,A_FG%,A_FGM3%,DRR,ORR,Pace,Season,TeamID,NextSeaTID,NFG%,NFGM3%,NA_FG%,NA_FGM3%,NDRR,NORR,NPace
0,20101102,0.512000,0.410072,0.393035,0.261780,0.711610,0.304147,58.975000,2010,1102,20111102,0.503715,0.411765,0.372796,0.333333,0.651515,0.213542,62.435714
1,20101103,0.464506,0.376126,0.398885,0.296000,0.669512,0.374177,66.326087,2010,1103,20111103,0.453517,0.387892,0.388436,0.286104,0.684274,0.287263,66.977273
2,20101104,0.463799,0.361538,0.389064,0.289308,0.667187,0.380282,64.782353,2010,1104,20111104,0.454545,0.319218,0.349565,0.271429,0.658507,0.377593,65.404762
3,20101105,0.423729,0.357143,0.365427,0.237762,0.631420,0.409524,70.475000,2010,1105,20111105,0.422939,0.283019,0.356140,0.238994,0.710843,0.315650,71.070000
4,20101106,0.444602,0.348936,0.406706,0.337017,0.732892,0.403471,67.492308,2010,1106,20111106,0.440000,0.348259,0.356952,0.293532,0.682226,0.405088,64.853333

In [39]:

corrs = []
cols = ['FG%','FGM3%','A_FG%','A_FGM3%','DRR','ORR','Pace']

for col in cols:
    ncol = 'N'+col
    corrs.append(np.round(gb[col].corr(gb[ncol]),2))


pdf = pd.DataFrame([corrs],columns=cols)

    FG%  FGM3%  A_FG%  A_FGM3%   DRR   ORR  Pace
0  0.32   0.22   0.34     0.07  0.42  0.53   0.5

In [50]:

seasons = list(range(2010,2019))
all_df = None
for season in seasons:
    season_path = "PL_Season_Stats_{}.csv".format(season)
    season = pd.read_csv(output+season_path)
    if all_df is not None:
        all_df = pd.concat([all_df,season],axis=0)
    else:
        all_df = season

all_df.to_csv("PL_Returning.csv",index=None)